# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Logs
*.log

# Environment
.env
.env.local

# Dependencies / build (genérico)
node_modules/
dist/
build/
__pycache__/
*.py[cod]
.venv/
venv/
